
*{
    /* height: 100;
    width: 100; */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}
.page{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.page>img{
    position: absolute;
    width: 50%;
    /* height: 100px; */
        right: 100px;
        top: 8%;
        /* transform: translatey(50%); */

}

.page>nav{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
        justify-content: space-between;
        padding-left:  140px;
        padding-right: 140px;
    position: absolute;
    z-index: 9;
    
}
nav>.navimg{
    position: relative;
    width: 10%;
    /* right: -2px; */
        /* top: 4%; */
}
nav>.center{
    display:flex ;
    gap: 30px;
}
.center>a{
    text-decoration: none;
    color: black;
    font-weight: normal;

}

input{
    
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #dadada;
}
.text{
    
    text-transform: none;
    height: 75%;
    width: 40%;
    top: 6%;
    position: relative;
    left: 6%;
    
    padding: 100px 80px;
}
.text>h1{
    font-size: 40;   
     line-height: 1;
     /* margin-top: 15px; */
     
}
.text>h4{
     color: rgb(73, 73, 73);
    margin-top: 150px;
    
    font-weight: 500;
}
.text>h5{
    transform: rotate(-20deg);
    position:absolute;
    left:60px;
    color: rgb(142, 142, 241);
}
.btn>button{
    height: 40px;
    width: 80px;
    display: space-between;
    margin-top: 50px;

}
.btn>.btnport{
    background:rgb(142, 142, 241) ;
    color: #fff;
    border-radius: 10px;
    border:none;
    margin: 0 10 0px 0px;
    font-size: medium;
    height: 40px;
    width: 120px;

}
.btn>.btnport>a{
    text-decoration: none;  
    color: inherit; 
   cursor: pointer;
}

.btn>.btntalk{
    background:rgb(230, 230, 230) ;
    color: #000000;
    border-radius: 10px;
    border:none;
    
    font-size: medium;
    height: 40px;
    width: 120px;
}
.btn>.btntalk>a{
    text-decoration: none;  
    color: inherit; 
   cursor: pointer;
}
.btn>.btntalk>i{
    font-size: 17px;
}
.socials{
    
    position: absolute;
    /* background-color: #b91e1e; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 180px;
    margin-left: 6px;
    
}
.socials>h4{
    color: rgb(0, 0, 0);
    font-weight: 350;
    margin-right: 30px;
}
.socials>a>i{
    font-size: 30px;
    
}
.socials>a{
    text-decoration: none;  
    color: inherit; 
   cursor: pointer;
}
.outerdiv{
    /* height: 100vh; */
    display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    /* top: -90px; */
    /* line-height: 1; */
    
}
.outerdiv>h1{
    font-size: 45px;
}
.innerdiv{
    border: #ffffff 2px solid;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
    
}
.innerdiv span{
    position: relative;
    animation: animation 6s ease infinite;
}
@keyframes animation {
    0%,75%,100%{
        top: 0;
    }
    20%{
        top: 0;
    }
    25%{
        top: -50px;
    }
    45%{
        top: -50px;
    }
    50%{
        top: -100px;
    }
    70%{
        top: -100px;
    }
    
}
/* now page one css start  */
.page1{
    background-color: #FCDA69;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.page1>.left>.text1{
    /* background-color: aqua; */
    height: 75%;
    width: 40%;
    
    position: absolute;
    top: -3%;
    left: 6%;
    text-transform: none;
    padding: 100px 80px;
    
}
.left>.text1>h1 {
    font-size: 50px;
    line-height: 1;
    margin-top: 15px;
}

.left>.text1>h4{
     color: rgb(73, 73, 73);
    margin-top: 20px;
    
    font-weight: 400;
}
.left>.text1>h5{
    transform: rotate(-20deg);
    position:absolute;
    left:60px;
    
    color: rgb(142, 142, 241);

}

.page1>.right{
    position: absolute;
    right: 9%;
 
    top: 7%;
    height: 90%;
    width: 35%;
    /* background-color: rgb(21, 144, 35); */
}

.right>.box{
    height: 33.3%;
    /* background-color: #dadada; */
    width: 100%;
    border-top: #000000 solid 2px;
    padding :20 20px;
    
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.circle{
    height: 3vh;
    width: 3vw;
    background-color:rgb(142, 142, 241) ;
    border-radius: 50%;
    padding: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle>a>i{
    font-size: larger;
    color: #fff;
    text-decoration: none; 
}
.circle>a>{
    text-decoration: none;  
     color: inherit; 
    cursor: pointer;
    
}
.box>#cen{
    /* background:#923c3c; */
    /* padding-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.text1>img{
   
    height: 180px;
    margin-top: 220px;
    
}

.page2{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: relative;
}

.left2>.text2{
    height: 75%;
    width: 40%;
    position: absolute;
    /* top: -3%; */
    left: 6%;
    text-transform: none;
    padding: 100px 80px;

}

.left2>.text2>h1 {
    font-size: 50px;
    line-height: 1;
    margin-top: 15px;
}

.left2>.text2>h4{
     color: rgb(73, 73, 73);
    margin-top: 20px;
    font-weight: 400;
}
.left2>.text2>h5{
    transform: rotate(-20deg);
    position:absolute;
    left:52px;
    color: rgb(142, 142, 241);

}
.skills{
    /* height: 75%;
    width: 40%; */
    position: absolute;
    /* top: -3%; */
    left: 11%;
    top: 56%;
    text-transform: none;
    /* padding: 10px 0px; */
}
.skills>h1{
    padding-bottom: 25px;
}
.skillss{
    /* height: 75%;
    width: 40%; */
    position: absolute;
    /* top: -3%; */
    left: 11%;
    top: 75%;
    text-transform: none;
    /* padding: 100px 80px; */
}
.skills>i{
    position: relative;
    font-size: xx-large  ;
    padding-top: 10px;
    padding-right: 90px;
    
}
.skillss>i{
    position: relative;
    font-size: xx-large  ;
    padding-top: 10px;
    padding-right: 90px;
    
}

.right2>.text2{
    height: 75%;
    width: 40%;
    position: absolute;
    /* top: -3%; */
    right: 6%;
    text-transform: none;
    padding: 100px 80px;
    

}
.text2>p{
    font-size: xx-large  ;
}
.boxx2{
    margin-top: 7.5%;
    border-top: #000000 2px solid;
    
}
#cent2{
/* background-color: #FCDA69; */
margin-left: 22%;
margin-top: -5%;
}
.box2{
    
    margin-top: 4%;
    margin-left: 1%;
    
    
}

.page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #FCDA69;
}

.page3>.project{
    position:absolute ;
    width: 90%;
    height: 55%;
    bottom: 2%;
    /* background-color: aqua; */
    transform: translateX(5%);
    /* left: 7%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.projects{
    border-top: #000000 solid 2px;
    height: 100%;
    width: 32%;
    /* background-color: indianred; */
    
}

.projects>h5{
    margin: 5px 11px;
}
.projects>img{
    /* margin: 20px 21px; */
    /* position: absolute; */
    
    margin :10px 10px;
    width: 95%; 
    height: 67%;
    object-fit: fill;
    

    
}

.circle{
    height: 3vh;
    width: 3vw;
    background-color:rgb(142, 142, 241) ;
    border-radius: 50%;
    padding: 25;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle>a>i{
    font-size: larger;
    color: #fff;
}
.circle>a{
    text-decoration: none;  
     color: inherit; 
    cursor: pointer;
    color: #fff;
}
.projects>.cent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;

}

.page3>.mh1{
    transform: translateX(5.2%);
    
    /* line-height: 1; */
    padding-top: 80px;
    font-size: 140%;
    
}
.page3>.mh6{
    transform: translateX(5%);
    
    line-height: 1;
    padding-top: 70px;

    transform: rotate(-20deg);
    position:absolute;
    left:52px;
    color: rgb(142, 142, 241);
}

.p2{
    position: relative;
    top :-32%;

}
.p3{
    position: relative;
    top :-64%;
    
}
.imgpro>img{
    /* height: 50%; */
    height: 180px;
    background-color: aqua;
    margin-top: 50px;
    margin-left: 56%;
    /* right: -20%; */
    /* display: flex;
    align-items: end;
    justify-content:right ; */


}
.page4{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #ffffff;
    /* border-top: #000000 2px solid; */
}
.page5{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #FCDA69;
    background-color: white;
    /* border-top: #000000 2px solid; */
}

.left5>.text5{
    height: 75%;
    width: 40%;
    position: absolute;
    /* top: -3%; */
    left: 6%;
    text-transform: none;
    padding: 90px 80px;
    /* background-color: aqua; */

}

.left5>.text5>h1 {
    font-size: 50px;
    line-height: 1;
    margin-top: 15px;
}


.left5>.text5>h5{
    transform: rotate(-20deg);
    position:absolute;
    left:52px;
    color: rgb(142, 142, 241);

}
.boxx5{
    margin-top: 12%;
    border-top: #000000 2px solid;
    
}
#cent{
/* background-color: #FCDA69; */
margin-left: 20%;
margin-top: -11%;
}
.box5{
    background-color: #FCDA69;
    margin-top: 8%;
    
    
}
.box5>i{
    
    color: #000000;
    /* background-color: #fff; */
}
.right5 {
    height: 60vh;
    width: 60vh;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -65%);
  }
  
  #cent #gmail a {
    text-decoration: none;
    color: inherit;
    
}


  
  .line{
    /* background-color: #fff; */
    position: relative;
    height: 10%;
    width: 90%;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: #000000 2px solid;
    transform: rotate(10deg);
  }
  .line>h1{
    font-size: 400%;
    transform: rotate(10deg);
    margin-top: -65px;
  }
  .line>h2{
    font-size: 150%;
    transform: rotate(-8deg);
    margin-top: -40px;
  }

  .line>a>img{
    position:absolute ;
    right:3%;
    top: -240%;
    width: 33%;
    border-radius: 50%;
    object-fit: cover;
  }
  footer{
    position: absolute;
    top: 90%;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    gap:  355px;
    margin-left: 78px;
    justify-content: space-between;
  }
  footer>p{
    /* background-color: #000000; */
    /* position: relative; */
    /* top: 5%; */
    margin-top: 10px;
   
  }
  footer p a{
    text-decoration: none;  
     color: inherit; 
    cursor: pointer;
  }